<div class="container">
    <div class="container facturas-container">
    <h1 ng-hide="vm.detailed">Facturas</h1>
        <table class="table table-bordered table-striped table-hovered table-condensed" ng-hide="vm.detailed">
            <th>Serie</th>
            <th>n° factura</th>
            <th>Fecha</th>
            <th>Productos</th>
            <th>Sub Total</th>
            <th>IGV</th>
            <th>Total</th>
            <th>Actions</th>
            <tr ng-repeat="factura in vm.facturas">
                <td ng-if="!editing" ng-click="vm.showDetails(factura)" style="cursor: pointer;">{{factura.serie}}</td>
                <td ng-if="!editing">{{factura.num_fact}}</td>
                <td ng-if="!editing">{{factura.fecha | date:"dd/MM/y"}}</td>
                <td>productos</td>
                <td ng-if="!editing">{{factura.sub_total}}</td>
                <td ng-if="!editing">{{factura.igv}}</td>
                <td ng-if="!editing">{{factura.total}}</td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.serie" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.num_fact" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.fecha" class="form-control" style="width:120px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.sub_total" class="form-control" style="width:60px;">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.igv" class="form-control" style="width:60px;" ng-controller="IgvCtrl">
                </td>
                <td ng-if="editing">
                	<input type="text" ng-model="factura.total" class="form-control" style="width:60px;">
                </td>
                <td>
                    <button ng-hide="editing" class="btn btn-warning" ng-click="editing=!editing">Edit</button>
                    <button ng-hide="!editing" class="btn btn-success" ng-click="vm.updateFactura(factura);editing=false;">Save</button>
                    <button class="btn btn-primary" ng-hide="!editing" ng-click="editing=!editing">Back</button>
                    <button class="btn btn-danger" ng-click="vm.removeFactura(factura);" ng-hide="editing">Delete</button>
                </td>
            </tr>
        </table>
        <button href="#ventana1" class="btn btn-primary btn-md" data-toggle="modal">Agregar Factura</button>
        <div class="modal fade" id="ventana1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-tittle">Encabezado de nuestra ventana</h2>  
                    </div>
                    <div class="modal-body">
                        <div class="container create-facturas">
                            <div class="form-group">
                                <label for="serie">Serie</label>
                                <input required type="text" id="serie" class="form-control" style="width:90px;" ng-model="vm.factura.serie">
                            </div>
                            <div class="form-group">
                                <label for="num_fact">N° Factura</label>
                                <input required type="text" id="num_fact" class="form-control" style="width:90px;" ng-model="vm.factura.num_fact">
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="datetime" id="fecha" class="form-control" style="width:100px;" ng-model="vm.factura.fecha">
                            </div>
                            <div class="form-group">
                                <label for="sub_total">Sub Total</label>
                                <input type="text" id="sub_total" class="form-control" style="width:90px;" ng-model="vm.factura.sub_total">
                            </div>
                            <div class="form-group">
                                <label for="igv">IGV</label>
                                <input type="text" id="igv" class="form-control" style="width:90px;" ng-model="vm.factura.igv">
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="text" id="total" class="form-control" style="width:90px;" ng-model="vm.factura.total">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success"  ng-disabled="!vm.factura.serie || !vm.factura.num_fact || !vm.factura.sub_total || !vm.factura.igv || !vm.factura.total" ng-click = "vm.addFactura(vm.factura)" data-dismiss="modal">Add</button>
                        <button class="btn btn-primary" data-dismiss="modal" >Back</button>
                    </div>                 
                </div>  
            </div>
        </div>
    </div>
    
    </div>
</div>